numpy>=1.11.0
scipy
tqdm
matplotlib>=3.5.2
tensorboard

open3d
opencv-python>=4.6.0.66

jupyter
imageio
imageio-ffmpeg

glog
colored-glog
termcolor
icecream

pandas
pyrealsense2

pybind11
gdown

einops>=0.4.1
kornia>=0.6.5
pytorch-lightning>=1.7.7,<2.0
pyparsing>=2.4.2
